.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #005f73; /* cor do cabeçalho */
  padding: 10px 20px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
  font-weight: bold;
}
