.quadras-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.quadra {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  width: 250px;
}

.quadra.disponivel {
  border-left: 5px solid #38a169; /* verde */
}

.quadra.reservada {
  border-left: 5px solid #e53e3e; /* vermelho */
  opacity: 0.7;
}
